body, html, main{
	font-family: 'Roboto', sans-serif;
	background: $background-color;
	height: 100%;
	@include font-size(16, 24);
}

.container {
	margin: 0 15px;
	min-height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;

	@media (min-width: $breakpoint-md) {
		max-width: 66%;
		margin: 0 auto;
	}

	@media (min-width: $breakpoint-xl) {
		max-width: 33%;
	}
}