.add-button {
	position: relative;

	&--overlay-open {
		width: 100%;
	}

	&__button {
		-webkit-appearance: none;
		position: relative;
		width: 100%;
		background: $button-color;
		color: $button-text-color;
		padding: 18px 20px 15px 55px;
		margin: 0 5px 30px 0;
		border-radius: 25px;
		border: 1px solid white;
		box-shadow: 0px 3px 3px 3px rgba($text-color, 0.05);
		@include font-size(24, 24);

		&::before {
			content: "+";
			@include font-size(48, 48);
			position: absolute;
			left: 15px;
			top: 6px;
		}

		&--primary {
			background-color: $button-primary-color;
			color: $button-primary-text-color;
		}

		@media (min-width: $breakpoint-md) {
			width: auto;
			margin-bottom: 0;
		}
	}

	&__close {
		-webkit-appearance: none;
		position: absolute;
		top: 3px;
		right: 0;
		background: none;
		border: none;

		&::before {
			content: "X";
			@include font-size(32, 32);	
		}

		@media (min-width: $breakpoint-md) {
			top: 30px;
			right: 15px;
		}
	}

	&__errors {
		border: 1px solid red;
		padding: 20px;
		margin: 20px 0;
	}

	&__button--save{
		padding-left: 20px;
		
		&::before {
			display: none;
			padding-left: 20px;
		}
	}

	&__overlay {
		width: 100%;
	}

	&__form {
		width: 100%;
		margin: 40px 0;
	}

	&__title-input,
	&__form-label,
	&__importance-input {
		width: 100%;
		box-sizing: border-box;
		display: block;
		@include font-size(24, 24);
		padding: 5px;
		margin-bottom: 25px;
	}

	&__form-label {
		margin-bottom: 5px;
		padding-left: 0;
	}
}