.todo {
	border-top: 8px solid $border-color;
	border-bottom: 8px solid $border-color;
	padding: 40px 0;
	width: 100%;
	min-height: 300px;
	position: relative;

	&__header {
		&__heading {
			margin-bottom: 20px;
			padding-left: 10px;
		}

		@media (min-width: $breakpoint-md) {
			display: flex;
			justify-content: space-between;

			&__heading {
				margin-bottom: 40px;
				padding-left: 24px;
			}
		}	
	}

	&__loading {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 2;
		background: $background-color;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
}